@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,400,600,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* 기본 */

html,body,span,object,iframe,h1,h2,h3,h4,h5,h6,em,img,p,div,ul,li,footer,header,menu,nav,audio,video{margin:0px;padding:0px;}
hr{display:none; margin:0px;}
video {width:100%;max-width:100%;height:auto;}
table,td,p,form {color:#000000;font-size:12px;}
table img { vertical-align: middle; }
img {border:0; vertical-align:middle}
a:link  { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #000000; text-decoration: none}
.hands {cursor:pointer;cursor:hand;}
.strike {text-decoration: line-through;}
.alertmessage {color: #f92b82;}
.inputtext {color:#616161;font-size:12px;border: 1px solid #d9d9d9;vertical-align:middle;}
.d_bunch:after{display:block; content:""; clear:both;}/*flot 속성이 하위 에 영향 미치지 않게 해줌 */
.page_count{color: #ffffff;font-weight: bold;}
	
/* 기본 */

/* 타사이트 반응형 웹사이트 기본 셋팅
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
html{line-height:1}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
q,blockquote{quotes:none}
q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}
a img{border:none}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
*/

/* 상단 사이트 이동메뉴 */
.sitemove_boxa{ position:absolute; top:0px; right:0px; max-width:1185px;margin:0 auto; padding:20px 0px 0px 0px;}

.sitemove_boxa .smove_box01{float:right; margin:0px 0px 0px 18px;}
.sitemove_boxa .smove_box01 li{display:inline-block;*zoom:1;*display:inline;}
.sitemove_boxa .smove_box01 li a{display:block;border-bottom:2px solid #fff;text-decoration:none;padding:0px 5px 7px 5px;color:#666666;}
.sitemove_boxa .smove_box01 li a:hover, .sitemove_boxa .smove_box01 li.on a{border-bottom:2px solid #fea61c;color:#333333;}

.sitemove_boxa .smove_box02{float:right; margin:0px 0px 0px 18px;}
.sitemove_boxa .smove_box02 li{display:inline-block;*zoom:1;*display:inline;}
.sitemove_boxa .smove_box02 li a{display:block;border-bottom:2px solid #fff;text-decoration:none;padding:0px 5px 7px 5px;color:#666666;}
.sitemove_boxa .smove_box02 li a:hover, .sitemove_boxa .smove_box02 li.on a{border-bottom:2px solid #999966;color:#333333;}

.sitemove_boxa .smove_box03{float:right; margin:0px 0px 0px 18px;}
.sitemove_boxa .smove_box03 li{display:inline-block;*zoom:1;*display:inline;}
.sitemove_boxa .smove_box03 li a{display:block;border-bottom:2px solid #fff;text-decoration:none;padding:0px 5px 7px 5px;color:#666666;}
.sitemove_boxa .smove_box03 li a:hover, .sitemove_boxa .smove_box03 li.on a{border-bottom:2px solid #e91c73;color:#333333;}

.sitemove_boxa .smove_box04{float:right; margin:0px 0px 0px 18px;}
.sitemove_boxa .smove_box04 li{display:inline-block;*zoom:1;*display:inline;}
.sitemove_boxa .smove_box04 li a{display:block;border-bottom:2px solid #fff;text-decoration:none;padding:0px 5px 7px 5px;color:#666666;}
.sitemove_boxa .smove_box04 li a:hover, .sitemove_boxa .smove_box04 li.on a{border-bottom:2px solid #b089d8;color:#333333;}

.sitemove_boxa .smove_box05{float:right; margin:0px 0px 0px 18px;}
.sitemove_boxa .smove_box05 li{display:inline-block;*zoom:1;*display:inline;}
.sitemove_boxa .smove_box05 li a{display:block;border-bottom:2px solid #fff;text-decoration:none;padding:0px 5px 7px 5px;color:#666666;}
.sitemove_boxa .smove_box05 li a:hover, .sitemove_boxa .smove_box05 li.on a{border-bottom:2px solid #66ae87;color:#333333;}
/* 상단 사이트 이동메뉴 */
#pageTop {
	 bottom:10px;
     right:25px;
     position:fixed;
     _position:absolute;
}

.l_line{background:#FFFFFF;border-left:solid 1px #c3c3c3; border-right:solid 1px #c3c3c3; border-bottom:solid 1px #c3c3c3;}
.l_line2{background:#FFFFFF;border-left:solid 1px #c3c3c3; border-right:solid 1px #c3c3c3;}
.t_line{border-bottom:solid 1px #e5e5e5;}



/* 중간 배너 시작 */
.midRollingBannerWrapper {
	position:relative;
	width:169px;
	height:65px;
/*	border: 2px dotted red;*/
}

.midRollingBannerWrapper ul {
	margin: 0;
	padding: 0;
}

.midRollingBannerWrapper ul li {
	list-style: none;
}

.displayOn {
	display: block;
}

.displayOff {
	display: none;
}

.midRollingBannerWrapper .arrow {
	position: absolute;
	top: 10px;
	display: block;
	width: 13px;
	height: 13px;
	cursor: pointer;
}

.midRollingBannerWrapper .prev {
	left: 129px;
	background: url(//cdn.dscount.com/images_2016/top/tb_l.jpg);
}

.midRollingBannerWrapper .next {
	left: 143px;
	background: url("//cdn.dscount.com/images_2016/top/tb_r.jpg");
}

.midBanner img {
	width: 169px;
	height: 65px;
	border: 0;
}

.tI {
	text-indent: 100%;
	overflow:hidden;
	white-space:nowrap;
}
/* 중간 배너 종료 */

/* 최근 본 상품 시작 */
.recently_view_wrap ul {
	margin: 0;
	padding: 0;
/*	border: 2px dotted red;*/
}

.recently_view_wrap ul li {
	list-style: none;
	padding: 2px;
}

.recently_view_wrap .recently_view {
	list-style: none;
	padding: 2px;
}

.recently_view img {
	width: 70px;
	border: 0;
	cursor: pointer;
}
/* 최근 본 상품 종료 */

/* 우측 플로팅 메뉴 시작 */
.r_fl_menu { /*menu.3.css*/
    position: absolute;
	top: 152px;
	right: auto;
	left: 50%;
	margin-left: 607px;
	z-index: 9999999999 !important;
/*	border: 2px dotted red;*/

}

.fl_fixed {
	position: fixed;
	top: 0px !important;
}

.r_fl_menu .history_wrap .history_header h3 strong {
    font-size: 18px;
    font-family: '나눔명조',NanumMyeongjo;
    color: #e74848;
    line-height: 21px;
    vertical-align: middle;
}
/* 우측 플로팅 메뉴 종료 */

/* 상단검색창 시작 */
.main_title {position:relative;width:222px;z-index:730; background:#FF0000;}
.main_title .searching_box{position:absolute; background:#ffffff;}
.main_title .searching_box input{vertical-align:middle;float:left;margin:0px 0px 0px 0px;}
.main_title .searching_box .inp_txt{padding:0px 8px 0px 8px;height:28px;border:0px;font-family: 'Nanum Gothic', sans-serif;font-size: 13px;color:#2b2b2b;text-align:left;vertical-align:middle;line-height:28px;text-decoration:none;}
.main_title .searching_box div{float:left;width:90px;height:28px;border:1px solid #cdcdcd;border-left:none;border-right:none; background:#ffffff;}
.main_title .searching_box div.searching_select{width:97px;height:28px;;background:#fff url('//cdn.dscount.com/images_2016/top/sc_line.png') no-repeat right 0px;border:1px solid #cdcdcd;border-right:none;}
.main_title .searching_box div.bt{width:34px;height:30px;right:0px;border:0px;}
.main_title .searching_select .ss_default{display:block;padding:0px 0px 0px 10px;font-family: 'Nanum Gothic', sans-serif;font-size: 12px;color:#2b2b2b;text-align:left;vertical-align:middle;height:28px;line-height:28px;text-decoration:none;}
.main_title .searching_select .ss_option {display:none;}
.main_title .searching_select .ss_option.active{display:block;position:absolute;z-index:999;top:31px;left:0px;width:96px;padding:7px 0px 7px 0px;border:1px solid #cdcdcd;border-top:0px;background:#ffffff;}
.main_title .searching_select .ss_option.active li a{display:block;padding:0px 0px 0px 0px;height:25px;line-height:25px;font-family: 'Nanum Gothic', sans-serif;font-size: 13px;color:#2b2b2b;text-align:center;text-decoration:none;vertical-align:middle;}
.main_title .searching_select .ss_option.active li a:hover{font-weight:bold}
/* 상단검색창 종료 */


/* LNB 시작 */
.lt0{letter-spacing:0 !important;}

li {
    list-style: none;
}

.lnb_area * {
	margin:0;
	padding:0;
	border:none;
}

.lnb_area{width:170px;height:480px; padding-top:15px; /*border-top: solid 2px #000000;*/background:url('//cdn.dscount.com/images_2016/top/ds_back.png') repeat;position:absolute;top:0px;left:0px;display:none; text-align:left;}
.main .lnb_area{z-index:700;display:block;}/* 메인만 block */
.lnb_area > ul > li{}
.lnb_area > ul > li > a{display:block;height:33px;line-height:32px;margin-bottom:6px;text-decoration:none;font-family:'Nanum Gothic', sans-serif;font-size:15px;font-weight:500;color:#222;padding-left:30px;overflow:hidden; vertical-align:middle;}

.lnb_area.lnb_on{background:#eaeaea;z-index:1;width:170px;height:479px;border-bottom:1px solid #535353;border-left:1px solid #535353;z-index:200;}
.lnb_area.lnb_on > ul > li{}
.lnb_area.lnb_on > ul > li > a{color:#666;padding-left:29px;}
.lnb_area.lnb_on > ul > li.active > a{color:#222;font-weight:600;background:#fff;}

.lnb_area .lnb_sub_layer{display:none;width:1014px;height:494px;background:#fff;position:absolute;top:0;left:169px;border-right:1px solid #535353;border-bottom:1px solid #535353;}
.lnb_area.lnb_on > ul > li.active .lnb_sub_layer{display:block;}
.lnb_sub_layer:after{content:'';display:block;clear:both;}
.lnb_sub_layer .lnb_sub_menu{float:left;width:477px;height:459px;padding:35px 0 0 30px;border-right:1px solid #eaeaea;position:relative; text-align:left;}
.lnb_sub_layer .lnb_sub_menu .lnb_tit{font-family:'Nanum Gothic', sans-serif;font-size:20px;font-weight:700;color:#222;line-height:20px;margin-bottom:25px; vertical-align:middle;}
.lnb_sub_layer .lnb_sub_menu .lnb_tit a{color:#222;}
.lnb_sub_menu .lnb_2debth .lnb_2debth_tit{display:block;width:170px;height:26px; line-height:26px;padding:0 0 0 13px;text-decoration:none;font-family:'Nanum Gothic', sans-serif;font-size:14px;color:#222; vertical-align:middle;background-position:188px -148px;}
.lnb_sub_menu .lnb_2debth .active .lnb_2debth_tit{background-color:#535353;background-position:188px -500px;color:#fff;}
.lnb_sub_menu .lnb_2debth > li{}
.lnb_sub_menu .lnb_2debth .lnb_3debth{display:none;position:absolute;top:80px;left:228px;width:px;height:334px;border-left:1px solid #eaeaea;z-index:1;}
.lnb_sub_menu .lnb_2debth .active .lnb_3debth{display:block;}
.lnb_sub_menu .lnb_2debth .lnb_3debth .lnb_3debth_tit{padding-left:24px;font-family:'Nanum Gothic', sans-serif;font-size:15px;color:#222;font-weight:600;margin-bottom:10px;}
.lnb_sub_menu .lnb_2debth .lnb_3debth ul{width:264px;overflow:hidden;margin-bottom:30px;}
.lnb_sub_menu .lnb_2debth .lnb_3debth ul:after{content:'';display:block;clear:both;}
.lnb_sub_menu .lnb_2debth .lnb_3debth li{float:left;width:95px;padding-left:24px;margin-bottom:6px;height:17px;line-height:17px;overflow:hidden;}
.lnb_sub_menu .lnb_2debth .lnb_3debth li a{font-family:'Nanum Gothic', sans-serif;font-size:13px;color:#999;}
.lnb_sub_menu .lnb_2debth .lnb_3debth li a:hover{text-decoration:underline;color:#222;}

.lnb_sub_layer .lnb_rban{float:left;width:405px;height:416px;line-height:0}
.lnb_sub_layer .lnb_sub_close{background-position:-39px -125px;width:24px;height:24px;position:absolute;top:20px;right:17px;}
.lnb_sub_layer .lnb_rban a {display:block}
.lnb_sub_layer .lnb_rban a img {max-width:405px;overflow:hidden}
/* LNB 종료 */

/* 기존 전체 카테고리 
.all_category {
	cursor:pointer; 
	cursor:hand;
}


.all_category .tit_click.on {
    background-image: url(//cdn.dscount.com/images_2016/top/arrow_up.png);
}

.all_category .tit_click {
	position: absolute;
	top : 18px;
	left:132px;
	width:12px;
	height:6px;
    background:  url(//cdn.dscount.com/images_2016/top/arrow_down.png) no-repeat;
	float:left;
}
*/
/* 전체 카테고리  */
.all_category {
	cursor:pointer; 
	cursor:hand;
}


.all_category .tit_click.on {
    background-image: url(//cdn.dscount.com/images_2016/top/arrow3_up.png);
}

.all_category .tit_click {
	position: absolute;
	top : 20px;
	left:132px;
	width:7px;
	height:5px;
    background:  url(//cdn.dscount.com/images_2016/top/arrow3_down.png) no-repeat;
	float:left;
}
/* 전체카테고리 종료 */

/* 메인 배너 시작 */
.main_ban_area  {position:relative;width:100%;height:495px;overflow:hidden;}
.main_ban_area .ban_group {position:relative;width:100%;height:495px;display:none;}
.main_ban_area .ban_group .ban_sub.type_double {height:495px}
.main_ban_area .ban_group .ban_sub.type_double a{float:left;width:262px}
.main_ban_area .ban_group .ban_sub.type_double a:first-child {width:650px}
.main_ban_area .imgbox{position:absolute;top:0;left:0;width:100%;height:495px;padding-left:85px;display:none;}

.main_ban_area .main_ban_box .button {display:none;cursor:pointer}

.main_ban_area .main_ban_box .imgbox  {position:absolute;width:100%;text-align:center;display:none;font-size:0;line-height:0;z-index:9999;}
.main_ban_area .main_ban_box .imgbox > a > img{width:1015px;height:460px;}
.main_ban_area .main_ban_box .type_double a {float:left}
.main_ban_area .main_ban_box .type_double img{width:403px}
.main_ban_area .main_ban_box .type_double img:first-child {width:650px}
.main_ban_area .main_ban_page{position:absolute;bottom:0;left:50%;margin-left:-423px;width:1015px;height:35px;z-index:100;}
.main_ban_area .main_ban_page .item {float:left;position:relative;width:203px;height:35px;line-height:36px; vertical-align:middle;font-family:'Nanum Gothic', sans-serif;font-size:12px;color:#ffffff;background:url('//cdn.dscount.com/images_2016/top/mbg_down.png') repeat;text-align:center;cursor:pointer;border-left:1px solid #ffffff} 
.main_ban_area .main_ban_page .item:first-child{width:204px;border-left:0px;}
.main_ban_area .main_ban_page .item.active{background:#434343;color:#fff;}
.main_ban_area .main_ban_page .item.ov{background:url('//cdn.dscount.com/images_2016/top/mbg_up.png') repeat;font-weight:bold;color:#ffffff !important;}
.main_ban_area .main_ban_page .item .subitem {position:absolute;top:0;left:0;width:auto;min-width:130px;height:auto;background:url('//cdn.dscount.com/images_2016/top/bg_main_page.png') repeat;display:none;} 
.main_ban_area .main_ban_page .item .subitem li {text-align:center;font-size:12px;letter-spacing:0;width:130px;}
.main_ban_area .main_ban_page .item .subitem li a{display:block;height:36px;line-height:36px;color:#fff;}
.main_ban_area .main_ban_page .item .subitem li.active a{color:#fff;background-color:#434343;text-decoration:none;}
.main_visual_area{width:100%;height:495px;background:url('//cdn.dscount.com/images_2016/top/bg_main_visual.gif') repeat-x 0 bottom;margin-bottom:1px;}
/* 메인 배너 종료 */

/* 중간 배너 시작 */
.mid_ban_area  {position:relative;width:100%;height:495px;overflow:hidden;}
.mid_ban_area .ban_group {position:relative;width:100%;height:495px;display:none;}
.mid_ban_area .ban_group .ban_sub.type_double {height:495px}
.mid_ban_area .ban_group .ban_sub.type_double a{float:left;width:262px}
.mid_ban_area .ban_group .ban_sub.type_double a:first-child {width:650px}
.mid_ban_area .imgbox{position:absolute;top:0;left:0;width:100%;height:495px;display:none;}

.mid_ban_area .mid_ban_box .button {display:none;cursor:pointer}

.mid_ban_area .mid_ban_box .imgbox  {position:absolute;width:100%;text-align:center;display:none;font-size:0;line-height:0;z-index:9999;}
.mid_ban_area .mid_ban_box .imgbox > a > img{width:1185px;height:450px;}
.mid_ban_area .mid_ban_box .type_double a {float:left}
.mid_ban_area .mid_ban_box .type_double img{width:403px}
.mid_ban_area .mid_ban_box .type_double img:first-child {width:650px}
.mid_ban_area .mid_ban_page{position:absolute;bottom:0;left:50%;width:1185px;height:35px;z-index:100;}
.mid_ban_area .mid_ban_page .item {float:left;position:relative;width:19px;height:19px;line-height:19px; vertical-align:middle;font-family:'Nanum Gothic', sans-serif;font-size:12px;color:#ffffff;background:url('//cdn.dscount.com/images_2015/main/btn1.png') repeat;text-align:center;cursor:pointer;} 
.mid_ban_area .mid_ban_page .item:first-child{width:19px;border-left:0px;}
.mid_ban_area .mid_ban_page .item.active{background:#434343;color:#fff;}
.mid_ban_area .mid_ban_page .item.ov{background:url('//cdn.dscount.com/images_2015/main/btn2.png') repeat;font-weight:bold;color:#ffffff !important;}
.mid_ban_area .mid_ban_page .item .subitem {position:absolute;top:0;left:0;width:auto;min-width:130px;height:auto;background:url('//cdn.dscount.com/images_2016/top/bg_main_page.png') repeat;display:none;} 
.mid_ban_area .mid_ban_page .item .subitem li {text-align:center;font-size:12px;letter-spacing:0;width:130px;}
.mid_ban_area .mid_ban_page .item .subitem li a{display:block;height:36px;line-height:36px;color:#fff;}
.mid_ban_area .mid_ban_page .item .subitem li.active a{color:#fff;background-color:#434343;text-decoration:none;}
.mid_visual_area{width:100%;height:495px;background:url('//cdn.dscount.com/images_2016/top/bg_main_visual.gif') repeat-x 0 bottom;margin-bottom:1px;}
/* 중간 배너 종료 */

/* 포토후기 썸네일 */
.postscript_thumb {max-width: 100%;}

/* 카테고리 베스트 큰 썸네일 텍스트 영역 컨트롤 */
.bigbest_wrap { height:auto; cursor:pointer; cursor:hand;}
.bigbest_wrap .image{overflow:hidden;}
.bigetc{position: absolute; bottom: 0px; left: 0px; width: 100%; height: auto; text-align:center; background:url(//cdn.dscount.com/images_2015/main/opacity.png) repeat;}
.bigetcwrap{padding-top:0%; margin-top:0px; overflow:hidden;  height: 100%;}
.bigetc span.dsctxt{display:block;color:#fff; font-size:14px; line-height:15px; padding: 15px 5px 5px 5px;}
.bigetc span.dsc{display:block;color:#fff; font-size:14px; line-height:15px; padding: 0px 5px 3px 5px;}
.bigetc span.price{display:block;color:#fff; font-size:14px;line-height:15px; padding: 0px 5px 15px 5px; font-weight:bold;}
/* 카테고리 베스트 큰 썸네일 텍스트 영역 컨트롤 */


/* 카테고리 베스트 중간 썸네일 텍스트 영역 컨트롤 */
.best_wrap { height:auto; cursor:pointer; cursor:hand;}
.best_wrap .image{overflow:hidden;}
.etc{position: absolute; bottom: 0px; left: 0px; width: 100%; height: auto; text-align:center; background:url(//cdn.dscount.com/images_2015/main/opacity.png) repeat;}
.etcwrap{padding-top:0%; margin-top:0px; overflow:hidden;  height: 100%;}
.etc span.dsctxt{display:block;color:#fff; font-size:12px; line-height:15px; padding: 10px 5px 5px 5px;}
.etc span.dsc{display:block;color:#fff; font-size:12px; line-height:15px; padding: 0px 5px 3px 5px;}
.etc span.price{display:block;color:#fff; font-size:12px;line-height:15px; padding: 0px 5px 10px 5px; font-weight:bold;}
/* 카테고리 베스트 중간 썸네일 텍스트 영역 컨트롤 */

/* 디스카운트 다홍 썸네일 텍스트 영역 컨트롤 */
.new_wrap { height:auto; cursor:pointer; cursor:hand;}
.new_wrap .image{overflow:hidden;}
.netc{position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; text-align:center; background:url(http://cdn.dscount.com/images_2015/main/opacity.png) repeat;}
.netcwrap{padding-top:50%; margin-top:0px; overflow:hidden;  height: 100%;}
.netc span.dsctxt{display:block;color:#ffffff; font-size:12px; line-height:15px; padding:10px 5px 0px 5px;}
.netc span.dsc{display:block;color:#ffffff; font-size:12px; font-weight:bold;line-height:15px; padding: 3px 5px 0px 5px;}
.netc span.price{display:block;color:#ffffff; font-size:12px;line-height:15px; padding: 5px 5px 10px 5px; font-weight:bold;}
/* 디스카운트 다홍 썸네일 텍스트 영역 컨트롤 */

/* 디스카운트 코스메틱 썸네일 텍스트 영역 컨트롤 */
.cnew_wrap { width:185px; height:254px; cursor:pointer; cursor:hand;}
.cnew_wrap .image{padding-top:35px; margin-top:0px; overflow:hidden;  height:254px;}
.cetc{position:absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; text-align:center; background:url(http://cdn.dscount.com/images_2015/main/opacity.png) repeat;}
.cetcwrap{padding-top:50%; margin-top:0px; overflow:hidden;  height: 100%;}
.cetc span.dsctxt{display:block;color:#ffffff; font-size:12px; line-height:15px; padding:10px 5px 0px 5px;}
.cetc span.dsc{display:block;color:#ffffff; font-size:12px; font-weight:bold;line-height:15px; padding: 3px 5px 0px 5px;}
.cetc span.price{display:block;color:#ffffff; font-size:12px;line-height:15px; padding: 5px 5px 10px 5px; font-weight:bold;}
/* 디스카운트 코스멭ㄱ 썸네일 텍스트 영역 컨트롤 */



/* BASIC css end */

.goodPic .heart { position:absolute;right:5px;top:11px; display:none; }
.goodPic .question { position:absolute;right:0px;top:35px; display:none; }
.heart:hover {cursor:pointer}
.heart:hover .question {display:block}
.goodPic:hover .heart {display:block}

/*탑메뉴 시작 */
.menu01_m01 {margin-left:57px;}
.menu01_m02 {margin-left:47px;}
 
/*
.menu01_l { display:inline; vertical-align:middle;cursor:pointer;cursor:hand; }  
.menu01_l a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:170px !important; padding:12px 0px 13px 0px;background:url(//cdn.dscount.com/images_2016/top/menu01_d.jpg) no-repeat 0px top; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:left; text-decoration:none; width :170px; }  
.menu01_l a:hover{background:url(//cdn.dscount.com/images_2016/top/menu01_u.jpg) no-repeat 0px top;color:#ffffff;}

.menu01_u { display:inline; vertical-align:middle;cursor:pointer;cursor:hand; }  
.menu01_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:170px !important; padding:12px 0px 13px 0px;background:url(//cdn.dscount.com/images_2016/top/menu01_h.jpg) no-repeat 0px top; color:#ffffff; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:left; text-decoration:none; width :170px; }  
.menu01_u a:hover{background:url(//cdn.dscount.com/images_2016/top/menu01_h.jpg) no-repeat 0px top;color:#ffffff;}
*/



/*탑메뉴 종료 */

/* 위시리스트 상단 메뉴사용안하게 되면 삭제처리*/
.dwm_l {border-left:solid 1px #d3d3d3; border-top:solid 1px #d3d3d3; border-bottom:solid 1px #1c1c1c;font-family: 'Nanum Gothic', sans-serif;font-size: 14px; color: #2e2e2e; font-weight:500;} 
.dwm_c {border-left:solid 1px #1c1c1c; border-right:solid 1px #1c1c1c; border-top:solid 1px #1c1c1c; border-bottom:solid 1px #ffffff;font-family: 'Nanum Gothic', sans-serif;font-size: 14px; color: #000000; font-weight:600;} 
.dwm_r {border-right:solid 1px #d3d3d3; border-top:solid 1px #d3d3d3; border-bottom:solid 1px #1c1c1c;font-family: 'Nanum Gothic', sans-serif;font-size: 14px; color: #2e2e2e; font-weight:500;}  
/* 위시리스트 상단 메뉴사용안하게 되면 삭제처리*/

/* 좌측 메뉴 디자인 변경후 다시 사용안하게 되면 삭제처리*/
.dahong_r { display:inline; text-align:left; vertical-align:middle; }  
.dahong_r a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding:8px 0px 8px 0px; background:#ffffff; text-align:left; text-decoration:none;cursor:pointer;cursor:hand; width /**/:168px;/*IE 5.5*/ }  
.dahong_r a:hover{background-color:#ededed; }
.dahong_r_p {margin-left:30px;}
/* 좌측 메뉴 디자인 변경후 다시 사용안하게 되면 삭제처리*/

/* 디스카운트 메인 좌측 사이트 이동 메뉴텍스트*/
.dt_layer{height:14px;line-height:14px; color:#FFFFFF;font-family: 'Exo 2', sans-serif;font-size: 14px; vertical-align:middle;font-weight:600;}
.dt_layer a{color:#FFFFFF;}
.dt_layer_l{padding:0px 11px;height:14px;line-height:14px; color:#FFFFFF;font-family: 'Exo 2', sans-serif;font-size: 14px; vertical-align:middle;font-weight:600;}



.tm_layer { display:inline; vertical-align:middle; }  
.tm_layer a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:100% !important; padding:4px 0px 4px 0px; text-align:left; text-decoration:none;cursor:pointer;cursor:hand;font-family: 'Nanum Gothic', sans-serif;font-size: 12px; vertical-align:middle;color: #000000;font-weight:400; width /**/:100%;/*IE 5.5*/ }  
.tm_layer a:hover{color:#FF6666;font-weight:600;}
.tm_layer_pa01{text-align:left; margin:0;padding:0;}
.tm_layer_pa02{text-align:left; padding:0px 0px 0px 0px 0px;}

.top_arr {width:5px; height:3px;background:url(//cdn.dscount.com/images_2016/top/top_arr.png) no-repeat;}






/* --------------------------------------------- 크리마레 --------------------------------------------------------------- */

/*기획전페이지 롤링 */
.promotion_boxa{width:100%;}

.promotion_boxb{width:1212px;}
.promotion_boxb ul:after{display:block; content:""; clear:both;}
.promotion_boxb ul li{float:left; padding:0px 13px 40px 13px}

.promotion_boxc{width:580px;}
.promotion_boxc .promotion_boxc_pic{width:580px;}
.promotion_boxc ul:after{display:block; content:""; clear:both;}
.promotion_boxc ul li{float:left; padding:12px 0px 12px 12px}

.promotion_boxd{width:270px; background:#FFFFFF; border:solid 1px #e5e5e5; padding:12px 0px;}
.promotion_boxd_pic{display:table;}
.promotion_boxd_pic .promotion_imglayer{display:table-cell;text-align:center;vertical-align:middle;line-height:0; width:270px; height:254px;}
.promotion_boxd_pic .promotion_imglayer img{width:185px;}
.promotion_boxd_info{width:185px; text-align:left;}
.promotion_boxd_info .promotion_info01{padding:10px 0px 0px 0px;height:29px;max-height:29px;text-overflow:ellipsis;overflow:hidden;}
.promotion_boxd_info .promotion_info02{padding:7px 0px 0px 0px;height:22px;max-height:22px;text-overflow:ellipsis;overflow:hidden; }
/*기획전페이지 롤링 */


/*크리마레 메인 롤링 기획전 */
.showcase_box{}
.showcase_box li{float:left; padding:0px 0px 0px 22px;}
.showcase_box li:first-child{padding:0px 0px 0px 0px;}
/*크리마레 메인 롤링 기획전 */

/*카테고리 분활 기획전 기획전 */
.cate_ba_box{width:1185px;}
.cate_ba_box ul:after{display:block; content:""; clear:both;}
.cate_ba_box ul li{float:left; padding:0px 0px 0px 3px;}
.cate_ba_box ul li:first-child{padding:0px 0px 0px 0px;}
/*크리마레 메인 롤링 기획전 */

/*크리마레 파트너 신청 파일입력 */
.file_input_textbox{float: left;width:213px; height:30px; border:solid 1px #cccccc; padding:0px 0px; margin:0px 0px;}
.file_input_div{position: relative; width: 100px; height: 32px; overflow: hidden;}
.file_input_button{width: 100px; height:32px; position: absolute; top: 0px; left:-1px;background-color: #e3e3e3;color: #333333; font-size:12px; border:solid 1px #cccccc; cursor:pointer;cursor:hand;}
.file_input_hidden{font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;cursor:pointer;cursor:hand;}
/*크리마레 파트너 신청 파일입력 */

/*크리마레 상단 시작 */
.cnav {display:block;width:100%;}
.cgnb_group_all{position:relative; width:1185px;padding:27px 0px 3px 0px;}
.cgnb_group_logo{text-align:left;}


.cgnb_group {width:1185px;padding:12px 0px 21px 0px;}
.cgnb_group ul{display:inline-block;text-align:left; width:1185px;padding:0px 0px;}
.cgnb_group ul li {float:left;padding:0px 35px 0px 0px; height:20px; line-height:20px;}
.cgnb_group ul li:first-child { padding:0px 0px 0px 0px;}
.cgnb_group ul li a{color:#333333;}
.cgnb_group ul li a:hover{color:#000000;}

/*크리마레 상단 전체 레이어 메뉴*/
.ctm_layer{position:relative;padding:0px 40px 0px 0px; height:20px; line-height:20px;}
.ctm_layer_sub{position:absolute; left:0px; top:20px; width:1185px;padding:24px 0px 0px 0px; z-index:4;}

.ctm_layer_sub01{background:#f2f2f2; height:36px; line-height:38px; text-align:left; padding:0px 0px 0px 20px;font-family: 'Exo 2', sans-serif;font-size: 14px; vertical-align:middle;font-weight:500; color:#000000;}
.ctm_layer_sub01 a{color:#000000;}

.ctm_layer_sub012{background:#f2f2f2; height:36px; line-height:38px; text-align:left; padding:0px 0px 0px 20px;font-family: 'Nanum Gothic', sans-serif;font-size: 14px; vertical-align:middle;font-weight:600; color:#000000;}
.ctm_layer_sub012 a{color:#000000;}

.ctm_layer_sub02{width:130px; height:18px; line-height:20px; text-align:left; padding:0px 0px 0px 20px;font-family: 'Nanum Gothic', sans-serif;font-size: 13px; vertical-align:middle;font-weight:600; color:#000000;}
.ctm_layer_sub02 a{color:#000000;}

.ctm_layer_sub03{width:130px; height:18px; line-height:20px; text-align:left; padding:0px 0px 0px 15px;font-family: 'Nanum Gothic', sans-serif;font-size: 12px; vertical-align:middle;font-weight:500; color:#525252;}
.ctm_layer_sub03 a{color:#525252;}

.ctm_layer_sub04{width:130px; height:30px; line-height:20px; text-align:left; padding:0px 0px 0px 15px;font-family: 'Nanum Gothic', sans-serif;font-size: 12px; vertical-align:middle;font-weight:500; color:#525252;}
.ctm_layer_sub04 a{color:#525252;}

/*크리마레 상단 컨텐츠 이동 메뉴*/
.cre_mmenu{position:relative;z-index:1;padding:0px 0px 0px 0px;width:100%;text-align:center;border-bottom:1px solid #d3d5d2;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.cre_mmenu .sto{position:absolute;z-index:3;bottom:7px;right:20px;}
@media screen and (max-width: 1380px){.cre_mmenu .sto{bottom:56px;}}
.cre_mmenu .sto a{outline:none;display:block;}
.cre_mmenu .nav{position:relative;z-index:2;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*zoom:1;}
.cre_mmenu .nav:after{content:'';clear:both;display:block;}
.cre_mmenu .nav ul{display:inline-block;position:relative;vertical-align:top;}
.cre_mmenu .nav ul li{float:left;height:37px;font-family: 'Nanum Gothic', sans-serif;font-size:13px; vertical-align:middle;font-weight:500;}
.cre_mmenu .nav ul li:first-child a{margin-left:0;}
.cre_mmenu .nav ul li a{display:block;position:relative;margin-left:-1px;border:1px solid #d4d4d4;border-bottom-width:0;height:inherit;line-height:36px;color:#999999;text-align:center;text-decoration:none;background-color:#f5f5f5;box-sizing:border-box;}
.cre_mmenu .nav ul li a:hover{color:#000000;}
.cre_mmenu .nav ul li.on a{z-index:10;border-color:#000000;height:38px;color:#000000;}
/*크리마레 상단 컨텐츠 이동 메뉴*/





/*크리마레 메인배너 영역 */
.container-main-2{position:relative;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;min-height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; background:#FF0000;}
@media screen and (max-width: 1024px){.container-main-2{margin-right:0px}}
@media screen and (max-width: 980px){.container-main-2{margin-right:0px}}
/*크리마레 메인배너 영역 */

.main-container .swipe .swipe-wrap{width:1185px;height:500px;overflow:hidden;position:relative;*zoom:1}
.main-container .swipe .swipe-wrap:after{content:'';clear:both;display:block}
.main-container .swipe .swipe-wrap li{float:left;width:1185px;height:500px;position:relative;background-color:#f4f4f4;background-repeat:no-repeat;background-size:cover;background-position:center center;content:' ';cursor:pointer}
.main-container .swipe .swipe-wrap a{display:block;width:1185px;height:500px;text-indent:-9999px;overflow:hidden}
.main-container .swipe .swipe-wrap .gallery-wrap{display:block;width:1185px;height:500px;line-height:530px;text-indent:0px;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.main-container .swipe .swipe-wrap .gallery-wrap.content-left{text-align:left;padding:50px 0 0 90px}
.main-container .swipe .swipe-wrap .gallery-wrap.content-center{text-align:center}
.main-container .swipe .swipe-wrap .gallery-wrap.content-right{text-align:right;padding:0px 90px 0px 0px}
.main-container .swipe .swipe-wrap .gallery-wrap .gallery-content{vertical-align:middle}
.main-container .swipe .control1 .button{position:absolute;z-index:10;top:50%;margin-top:-37px;border:0;padding:0;width:74px;height:74px;background:none}
.main-container .swipe .control1 .button:hover svg g,.main-container .swipe .control1 .button:focus svg g{fill:#5d5d5d}
.main-container .swipe .control1 .button.prev{left:10px}
.main-container .swipe .control1 .button.next{right:10px;-webkit-transform:rotate(180deg);-khtml-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.main-container .swipe .control1 .button svg{vertical-align:top}
.main-container .swipe .control1 .button svg g{fill:#a0a0a0}
.main-container .swipe .control2{position:absolute;bottom:25px;z-index:3;width:100%;line-height:0;text-align:center}
.main-container .swipe .control2 ul{display:inline-block;position:relative;vertical-align:top}
.main-container .swipe .control2 ul li{position:relative;cursor:pointer;margin:0 3px;float:left;border:1px solid #a0a0a0;width:6px;height:6px;text-align:center;text-decoration:none;background-color:transparent}
.main-container .swipe .control2 ul li.on{background-color:#a0a0a0}

/*샵인포 메인배너 영역 */
.shop-container .swipe .swipe-wrap{width:100%;height:480px;overflow:hidden;position:relative;*zoom:1}
.shop-container .swipe .swipe-wrap:after{content:'';clear:both;display:block}
.shop-container .swipe .swipe-wrap div{float:left;width:100%;height:480px;position:relative;background-color:#ffffff;background-repeat:no-repeat;background-size:cover;background-position:center center;content:' ';}
.shop-container .swipe .swipe-wrap a{display:block;width:100%;height:100%;text-indent:-9999px;overflow:hidden}
.shop-container .swipe .swipe-wrap .gallery-wrap{display:block;width:100%;height:100%;line-height:600px;text-indent:0px;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.shop-container .swipe .swipe-wrap .gallery-wrap.content-center{text-align:center; padding:207px 0px 0px 0px;}
.shop-container .swipe .swipe-wrap .gallery-wrap .gallery-content{vertical-align:middle}

.shop-container2 .swipe .swipe-wrap{width:100%;height:410px;overflow:hidden;position:relative;*zoom:1}
.shop-container2 .swipe .swipe-wrap:after{content:'';clear:both;display:block}
.shop-container2 .swipe .swipe-wrap div{float:left;width:100%;height:410px;position:relative;background-color:#ffffff;background-repeat:no-repeat;background-size:cover;background-position:center center;content:' ';}
.shop-container2 .swipe .swipe-wrap a{display:block;width:100%;height:100%;text-indent:-9999px;overflow:hidden}
.shop-container2 .swipe .swipe-wrap .gallery-wrap{display:block;width:100%;height:100%;line-height:600px;text-indent:0px;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.shop-container2 .swipe .swipe-wrap .gallery-wrap.content-left{text-align:left;padding:145px 0px 0px 90px}
.shop-container2 .swipe .swipe-wrap .gallery-wrap.content-center{text-align:center}
.shop-container2 .swipe .swipe-wrap .gallery-wrap.content-right{text-align:right;padding:0px 90px 0px 0px}
.shop-container2 .swipe .swipe-wrap .gallery-wrap .gallery-content{vertical-align:middle}


/*샵인포 메인배너 영역 */

/*디렉터컷 */
.dcut_contents {clear:both; position:relative; padding:0px 0px 0px 0px;}/*전체 테두리 */
.dcut_list_wrapper {min-width:1200px;}/*그안에 크기 잡아주는 영역 */
.dcut_box{width:1195px; padding:60px 0px 50px 0px; text-align:center;}/*타이틀 부분조정 */
.dcut_list_box ul:after {clear:both; display:block; content:""; border:none}/*리스트 돌아가는 div */
.dcut_li_box {position:relative; min-width:282px; float:left; padding:0px 9px 20px 9px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box}/*루프되는 li */
.dcut_li_inner {border:solid 1px #efefef; background:#f7f7f7;}/*루프되는 li 안에 div */
.list_img_dcut {position:relative; padding:0px 0px 0px 0px; /*margin:0 auto;*/ text-align:center;}/*루프되는 li 안에 div 안에 이미지 */
.list_img_dcut img {width:280px;}/*루프되는 li 안에 div 안에 이미지 크기조정 */
.dcut_info {width:240px; padding:25px 0px 25px 0px; text-align:left;}/*루프되는 li 안에 내용 */
.dcut_title {color:000000; padding:0px 0px 10px 0px;}/*루프되는 li 안에 내용 */
.dcut_title a {color:000000;}/*루프되는 li 안에 내용 */
.dcut_list_txt {color:#8a8a8a; line-height:18px}
.dcut_product {background:#ffffff; width:280px;}/*관련상품 div */
.dcut_relation {clear:both; float:left; width:240px;margin:0px 20px 0px 20px;border-bottom:1px solid #ddd}/*관련상품 div 루프 시키는 li */
/*.dcut_relation:first-child {border-bottom:1px solid #ddd}/*관련상품 div 루프 시키는 li 첫번째 목록에서만 선주는값*/
.dcut_relation:last-child {border-bottom:0}/*관련상품 div 루프 시키는 li 마지막 목록에서 선없애는 값*/
.relation_img {float:left; width:60px; height:60px; margin:15px 0px 15px 0px;overflow:hidden; }/*관련상품이미지div*/
.relation_img img {display:inline-block; width:60px; height:60px;vertical-align:middle;}/*관련상품이미지*/
.relation_info {float:left;position:relative; width:150px;text-align:left; padding:15px 0px 15px 12px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box}/*관련상품제목및 가격*/
.list_info {color:#333333;line-height:16px;max-height:28px; padding:0px 0px 7px 0px;text-overflow:ellipsis;overflow:hidden;}/*관련상품제목*/
.list_info a {color:#333333;}/*관련상품제목*/
.relation_heart{float:left;position:relative; width:30px;text-align:right; padding:15px 1px 15px 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box}/*관심상품 버튼 DIV*/
.dcut_more{width:200px; height:50px; line-height:50px; text-align:center; border:solid 1px #000000;}/*더보기 버튼*/
/*.hover_box:hover {background-color:#f2f2f2; z-index: 1;}전체 테두리마우스 오버시*/
/*text-transform: uppercase; 모든 문자 대문자로 변경*/
/*디렉터컷 */


/*실시간 후기/ 실시간 장바구니 */
.retime_contents {clear:both; position:relative; padding:0px 0px 0px 0px;}/*전체 테두리 */
.retime_list_wrapper {min-width:1200px;}/*그안에 크기 잡아주는 영역 */
.retime_list_box ul:after {clear:both; display:block; content:""; border:none}/*리스트 돌아가는 div */
.retime_li_box {position:relative; min-width:272px; float:left; padding:0px 14px 20px 14px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}/*루프되는 li */
.retime_li_inner {border:solid 1px #e5e5e5; background:#ffffff;}/*루프되는 li 안에 div */
.list_img_retime {position:relative; padding:15px 15px 15px 15px; /*margin:0 auto;*/ text-align:center;}/*루프되는 li 안에 div 안에 이미지 */
.list_img_retime img {width:240px;}/*루프되는 li 안에 div 안에 이미지 크기조정 */
.retime_info { position:relative;width:240px; padding:10px 0px 25px 0px;  text-align:left;}/*루프되는 li 안에 내용 */
.retime_title {color:333333; padding:0px 0px 0px 0px; vertical-align:top;width:215px; height:30px; max-height:30px;text-overflow:ellipsis;overflow:hidden;}/*루프되는 li 안에 내용 */
.retime_title a {color:333333;}/*루프되는 li 안에 내용 */
.retime_review {background:#f6f6f6; width:270px; padding:15px 0px 15px 0px;}/*후기 div */
.retime_relation {width:240px;float:left;clear:both; margin:0px 14px 0px 14px;}/*관련상품 div 루프 시키는 li */
/*
.retime_relation:first-child {border-bottom:1px solid #ddd}
.retime_relation:last-child {border-bottom:0}
*/
.timerelation_img {float:left; width:30px; height:30px; margin:9px 0px 0px 0px;overflow:hidden; text-align:left;}/*관련상품이미지div*/
.timerelation_img img {display:inline-block; width:18px; height:16px;vertical-align:middle; margin:0px 0px 0px 5px;}
.timerelation_info {float:left;position:relative; width:200px;text-align:left; padding:6px 0px 6px 5px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box}/*관련상품제목및 가격*/
.timelist_info {color:#101010;line-height:16px;max-height:28px; padding:0px 0px 7px 0px;overflow:hidden;}/*관련상품제목*/
.timelist_info a {color:#101010;}/*관련상품제목*/
/*실시간 후기/실시간 장바구니 */

/*타임세일 */
#cr_countdown{position:relative;padding:70px 0px 70px 0px;}
#cr_countdown .ctitle{ width:1185px; text-align:center;}
#cr_countdown .ccount{ position:relative; width:1185px; padding:40px 0px 20px 0px;}
#cr_countdown .ccount .countBox{background:#ffffff;}
#cr_countdown .ccount .countBox .time{background:#000000; text-align:center; padding:0px 15px; height:97px; vertical-align:middle; line-height:97px; border-radius: 12px;}
#cr_countdown .ccount .countBox .time2{text-align:center;height:97px;vertical-align:middle;line-height:97px; padding:0px 5px;}
#cr_countdown .ccount .countBox ul li{display:inline-block;}

#countme{position:relative;padding:0px 0px 0px 0px;}
#countme .marea{position:relative;width:1185px; text-align:left;border-bottom:solid 1px #4c4c4c; padding:0px 0px 15px 0px;}
#countme .marea ul{vertical-align:top;text-align:left;}
#countme .marea li{float:left;text-align:left;padding:0px 15px 0px 0px; color:#333333;}
#countme .marea li a{color:#333333;}
#countme .marea li.on a{color:#f27ca6;}
/*타임세일 */

/*브랜드 페이지 */
.brand_box01 {position:relative; width:1183px; border:solid 1px #d5d5d5;text-align:left; background:#FFFFFF;}
.brand_box01 ul{display:inline-block;position:relative;vertical-align:top;text-align:left; margin:10px 10px;}
.brand_box01 ul li{float:left;text-align:left;padding:0px 15px 0px 0px;color:#6a6a6a;}
.brand_box01 ul li a{color:#888888;font-family: 'Nanum Gothic', sans-serif;font-size: 13px; vertical-align:middle;font-weight:400;}
.brand_box01 ul li.on a{z-index:10;color:#000000;font-weight:500;}

.brand_box02 {position:relative; width:1185px; background:#FFFFFF;text-align:left;}
.brand_box02 ul{display:inline-block;position:relative; vertical-align:top;text-align:left;padding:0px 0px; margin:0px 0px;}
.brand_box02 ul li{float:left;text-align:left;padding:0px 0px; margin:0px 0px;}

.brand_box03 {position:relative;width:60px;}
.brand_box03 ul{display:inline-block;position:relative; vertical-align:top; text-align:left;padding:0px 0px; margin:0px 0px;}
.brand_box03 ul li{float:left;text-align:center;vertical-align:middle;background:#cccccc;color:#ffffff;}
.brand_box03 ul li a{display:block;position:relative;width:60px; height:26px;line-height:26px;color:#ffffff;}
.brand_box03 ul li.on a, .brand_box03 li a:hover {z-index:2; background-color:#000000;color:#ffffff;}

.brand_box04 {position:relative;width:1115px;}
.brand_box04 ul{display:inline-block;position:relative; vertical-align:top; text-align:left;padding:0px 0px; margin:0px 0px;}
.brand_box04 ul li{float:left;text-align:center;color:#323232;margin:0px 10px 0px 0px;vertical-align:middle;}
.brand_box04 ul li a{display:block;position:relative;width:26px; height:24px;line-height:24px; border:solid 1px #cccccc;background:#ffffff;color:#323232; }
.brand_box04 ul li.on a, .brand_box04 li a:hover {z-index:10;border-color:#000000;color:#000000;}



.brand_box05 {position:relative;width:1185px; padding:30px 0px 15px 0px;border-bottom:solid 1px #e8e8e8;}
.brand_box05:after {clear:both; content:""; display:block}
.brand_box06 {position:relative;width:70px;float:left; text-align:left;vertical-align:top;}

.brand_box07 {position:relative;width:1115px;float:left;text-align:left;vertical-align:top;}

.brand_box07 ul{vertical-align:top; text-align:left;padding:0px 0px; margin:0px 0px;}
.brand_box07 ul:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.brand_box07 ul li{float:left;position: relative;text-align:left;color:#323232; width:180px;margin:0px 43px 15px 0px; padding:0px 0px 0px 0px;vertical-align:middle;}

.brand_list_h01 {font-family: 'Nanum Gothic', sans-serif;font-size: 15px;vertical-align:top;color:#000000;font-weight:600;width:180px;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
.brand_list_h01 a{color:#000000;}
.brand_list_e01 {font-family: 'Exo 2', sans-serif;font-size: 13px; vertical-align:top;color:#a1a1a1;font-weight:300; padding:3px 0px 0px 0px;width:180px;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
.brand_list_e01 a{color:#a1a1a1;}

.brand_list_e02 {font-family: 'Exo 2', sans-serif;font-size:15px; vertical-align:top;color:#000000;font-weight:400; padding:0px 0px 0px 0px;width:180px;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
.brand_list_e02 a{color:#000000;}
.brand_list_h02 {font-family: 'Nanum Gothic', sans-serif;font-size:13px;vertical-align:top;color:#a1a1a1;font-weight:400; padding:5px 0px 0px 0px;width:180px;text-overflow:ellipsis;white-space:pre;overflow:hidden;}
.brand_list_h02 a{color:#a1a1a1; }



.aboutus_box{width:1185px; padding:0px 0px 0px 0px;}
.aboutus_box .aboutus_line01{ width:1185px; padding:40px 0px 0px 0px;}
.aboutus_box .aboutus_line01 img{width:1185px;}
.aboutus_box .aboutus_line02{width:1185px; padding:20px 0px 0px 0px; }
.aboutus_box .aboutus_line02 ul li{text-align:right; padding:0px 10px 0px 0px;}

.aboutus_box .aboutus_line03{padding:10px 10px 0px 0px;text-align:right;}
.aboutus_box .aboutus_line03 .aboutline03_01{float:right;}
.aboutus_box .aboutus_line03 .aboutline03_01 img{width:24px;} 
.aboutus_box .aboutus_line03 .aboutline03_02{float:right; padding:4px 0px 0px 10px;} 
.aboutus_box .aboutus_line04{padding:20px 10px 0px 200px;text-align:right;}

/*브랜드 페이지 */

/*뷰티 스포일러 */
.beauty_box01 {position:relative;width:1185px;}
.beauty_box01 ul{display:inline-block;position:relative; vertical-align:top; text-align:left;padding:0px 0px; margin:0px 0px; width:1000px;}
.beauty_box01 ul:after {clear:both; content:""; display:block}
.beauty_box01 ul li{float:left;display:block;position:relative;text-align:left;width:225px;color:#323232; padding:0px 25px 30px 0px;vertical-align:middle;}


.beauty_review_box{display:block; position:relative; line-height:18px;height:38px;max-height:38px;text-overflow:ellipsis;overflow:hidden;}
.beauty_review_pic{display:block;position:relative; max-width:1000px;}
.beauty_review_pic2{display:block;position:relative; max-width:900px;}

/*브랜드 페이지 */

.tegcree{width:1185px;}
.tegcree01{float:left; margin:16px 50px 0px 0px;text-align:left;}
.tegcree02{float:left;text-align:left;}
.tegcree02 ul li{float:left;margin:15px 12px 0px 0px; padding:0px 20px; height:36px; color:333333; line-height:36px;background:#e7e7e7;border-radius:40px;}
.tegcree02 ul li a{color:333333;}
.tegcree02 ul li:after{display:block; content:""; clear:both;}


/* --------------------------------------------- 크리마레 --------------------------------------------------------------- */


/* --------------------------------------------- 공통 사이트 이동 메뉴 --------------------------------------------------------------- */
.d_submenu01 {position:relative;display:inline-block;z-index:2;width:1185px;border-bottom:1px solid #000000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.d_submenu01 .nav01 {position:relative;float:left; width:1185px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*zoom:1;}
.d_submenu01 .nav01 ul{width:1185px;display:inline-block;position:relative;vertical-align:top;}
.d_submenu01 .nav01 ul li{float:left;height:38px;color:#a3a3a3;}
.d_submenu01 .nav01 ul li:first-child a{margin-left:0;}
.d_submenu01 .nav01 ul li a{display:block;position:relative;margin-left:-1px;border:1px solid #d4d4d4;border-bottom-width:0; height:38px;line-height:37px;color:#a3a3a3;text-align:center;text-decoration:none;background-color:#ffffff;box-sizing:border-box;}
.d_submenu01 .nav01 ul li a:hover{color:#000000;}
.d_submenu01 .nav01 ul li.on a{z-index:10;border-color:#000000;height:39px;color:#000000;}

.d_submenu02 {position:relative;display:inline-block;z-index:2;width:1185px;border-bottom:1px solid #d4d4d4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.d_submenu02 .nav02 {position:relative;float:left; width:1185px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*zoom:1;}
.d_submenu02 .nav02 ul{width:1185px;display:inline-block;position:relative;vertical-align:top;}
.d_submenu02 .nav02 ul li{float:left;height:38px;color:#a3a3a3;}
.d_submenu02 .nav02 ul li:first-child a{margin-left:0;}
.d_submenu02 .nav02 ul li a{display:block;position:relative;margin-left:-1px;border:1px solid #d4d4d4;border-bottom-width:0; height:38px;line-height:37px;color:#a3a3a3;text-align:center;text-decoration:none;background-color:#f5f5f5;box-sizing:border-box;}
.d_submenu02 .nav02 ul li a:hover{color:#000000;}
.d_submenu02 .nav02 ul li.on a{z-index:10;border-color:#d4d4d4; background:#FFFFFF;height:39px;color:#000000;}

.d_submenu03 {position:relative;display:inline-block;z-index:2;width:1185px;border-bottom:1px solid #000000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.d_submenu03 .nav03 {position:relative;float:left; width:1185px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*zoom:1;}
.d_submenu03 .nav03 ul{width:1185px;display:inline-block;position:relative;vertical-align:top;}
.d_submenu03 .nav03 ul li{float:left;height:40px;color:#333333;}
.d_submenu03 .nav03 ul li:first-child a{margin-left:0;}
.d_submenu03 .nav03 ul li a{display:block;position:relative;margin-left:-1px;border:1px solid #d4d4d4;border-bottom-width:0; height:40px;line-height:39px;font-family: 'Nanum Gothic', sans-serif;font-size: 14px;font-weight:600; vertical-align:middle;color:#333333;text-align:center;text-decoration:none;background-color:#ffffff;box-sizing:border-box;}
.d_submenu03 .nav03 ul li a:hover{color:#000000;font-weight:600;}
.d_submenu03 .nav03 ul li.on a{z-index:10;border-color:#000000;height:41px;color:#b24545;font-weight:600;}

.d_submenu04 {position:relative;display:inline-block;z-index:2;width:1185px;border-bottom:1px solid #d4d4d4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.d_submenu04 .nav04 {position:relative;float:left; width:1185px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*zoom:1;}
.d_submenu04 .nav04 ul{width:1185px;display:inline-block;position:relative;vertical-align:top;}
.d_submenu04 .nav04 ul li{float:left;height:40px;color:#a3a3a3;}
.d_submenu04 .nav04 ul li:first-child a{margin-left:0;}
.d_submenu04 .nav04 ul li a{display:block;position:relative;margin-left:-1px;border:1px solid #d4d4d4;border-bottom-width:0; height:40px;line-height:39px;font-family: 'Nanum Gothic', sans-serif;font-size: 14px;font-weight:600; vertical-align:middle;color:#666666;text-align:center;text-decoration:none;background-color:#f5f5f5;box-sizing:border-box;}
.d_submenu04 .nav04 ul li a:hover{color:#000000;font-weight:600;}
.d_submenu04 .nav04 ul li.on a{z-index:10;border-color:#d4d4d4; background:#FFFFFF;height:41px;color:#000000;font-weight:600;}

/* --------------------------------------------- 공통 사이트 이동 메뉴 --------------------------------------------------------------- */


/* --------------------------------------------- 텍스트 --------------------------------------------------------------- */


/*폰트 관련 한글 */
.ht_4 {font-family: 'Nanum Gothic', sans-serif;font-size: 4px; vertical-align:middle;}
.ht_5 {font-family: 'Nanum Gothic', sans-serif;font-size: 5px; vertical-align:middle;}
.ht_6 {font-family: 'Nanum Gothic', sans-serif;font-size: 6px; vertical-align:middle;}
.ht_7 {font-family: 'Nanum Gothic', sans-serif;font-size: 7px; vertical-align:middle;}
.ht_8 {font-family: 'Nanum Gothic', sans-serif;font-size: 8px; vertical-align:middle;}
.ht_9 {font-family: 'Nanum Gothic', sans-serif;font-size: 9px; vertical-align:middle;}
.ht_10 {font-family: 'Nanum Gothic', sans-serif;font-size: 10px; vertical-align:middle;}
.ht_11 {font-family: 'Nanum Gothic', sans-serif;font-size: 11px; vertical-align:middle;}
.ht_12 {font-family: 'Nanum Gothic', sans-serif;font-size: 12px; vertical-align:middle;}
.ht_13 {font-family: 'Nanum Gothic', sans-serif;font-size: 13px; vertical-align:middle;}
.ht_14 {font-family: 'Nanum Gothic', sans-serif;font-size: 14px; vertical-align:middle;}
.ht_15 {font-family: 'Nanum Gothic', sans-serif;font-size: 15px; vertical-align:middle;}
.ht_16 {font-family: 'Nanum Gothic', sans-serif;font-size: 16px; vertical-align:middle;}
.ht_17 {font-family: 'Nanum Gothic', sans-serif;font-size: 17px; vertical-align:middle;}
.ht_18 {font-family: 'Nanum Gothic', sans-serif;font-size: 18px; vertical-align:middle;}
.ht_19 {font-family: 'Nanum Gothic', sans-serif;font-size: 19px; vertical-align:middle;}
.ht_20 {font-family: 'Nanum Gothic', sans-serif;font-size: 20px; vertical-align:middle;}
.ht_21 {font-family: 'Nanum Gothic', sans-serif;font-size: 21px; vertical-align:middle;}
.ht_22 {font-family: 'Nanum Gothic', sans-serif;font-size: 22px; vertical-align:middle;}
.ht_23 {font-family: 'Nanum Gothic', sans-serif;font-size: 23px; vertical-align:middle;}
.ht_24 {font-family: 'Nanum Gothic', sans-serif;font-size: 24px; vertical-align:middle;}
.ht_25 {font-family: 'Nanum Gothic', sans-serif;font-size: 25px; vertical-align:middle;}
.ht_26 {font-family: 'Nanum Gothic', sans-serif;font-size: 26px; vertical-align:middle;}
.ht_27 {font-family: 'Nanum Gothic', sans-serif;font-size: 27px; vertical-align:middle;}
.ht_28 {font-family: 'Nanum Gothic', sans-serif;font-size: 28px; vertical-align:middle;}
.ht_29 {font-family: 'Nanum Gothic', sans-serif;font-size: 29px; vertical-align:middle;}
.ht_30 {font-family: 'Nanum Gothic', sans-serif;font-size: 30px; vertical-align:middle;}
.ht_31 {font-family: 'Nanum Gothic', sans-serif;font-size: 31px; vertical-align:middle;}
.ht_32 {font-family: 'Nanum Gothic', sans-serif;font-size: 32px; vertical-align:middle;}
.ht_33 {font-family: 'Nanum Gothic', sans-serif;font-size: 33px; vertical-align:middle;}
.ht_34 {font-family: 'Nanum Gothic', sans-serif;font-size: 34px; vertical-align:middle;}
.ht_35 {font-family: 'Nanum Gothic', sans-serif;font-size: 35px; vertical-align:middle;}
.ht_38 {font-family: 'Nanum Gothic', sans-serif;font-size: 38px; vertical-align:middle;}
.ht_39 {font-family: 'Nanum Gothic', sans-serif;font-size: 39px; vertical-align:middle;}
.ht_40 {font-family: 'Nanum Gothic', sans-serif;font-size: 40px; vertical-align:middle;}
.ht_55 {font-family: 'Nanum Gothic', sans-serif;font-size: 55px; vertical-align:middle;}


/*폰트 관련 한글2 */
.h2t_4 {font-family: '돋움', sans-serif;font-size: 4px; vertical-align:middle;}
.h2t_5 {font-family: '돋움', sans-serif;font-size: 5px; vertical-align:middle;}
.h2t_6 {font-family: '돋움', sans-serif;font-size: 6px; vertical-align:middle;}
.h2t_7 {font-family: '돋움', sans-serif;font-size: 7px; vertical-align:middle;}
.h2t_8 {font-family: '돋움', sans-serif;font-size: 8px; vertical-align:middle;}
.h2t_9 {font-family: '돋움', sans-serif;font-size: 9px; vertical-align:middle;}
.h2t_10 {font-family: '돋움', sans-serif;font-size: 10px; vertical-align:middle;}
.h2t_11 {font-family: '돋움', sans-serif;font-size: 11px; vertical-align:middle;}
.h2t_12 {font-family: 'Gulim', sans-serif;font-size: 12px; vertical-align:middle;}
.h2t_13 {font-family: '돋움', sans-serif;font-size: 13px; vertical-align:middle;}
.h2t_14 {font-family: '돋움', sans-serif;font-size: 14px; vertical-align:middle;}
.h2t_15 {font-family: '돋움', sans-serif;font-size: 15px; vertical-align:middle;}




/*폰트 관련 영문 */
.et_6 {font-family: 'Exo 2', sans-serif;font-size: 6px; vertical-align:middle;}
.et_7 {font-family: 'Exo 2', sans-serif;font-size: 7px; vertical-align:middle;}
.et_8 {font-family: 'Exo 2', sans-serif;font-size: 8px; vertical-align:middle;}
.et_9 {font-family: 'Exo 2', sans-serif;font-size: 9px; vertical-align:middle;}
.et_10 {font-family: 'Exo 2', sans-serif;font-size: 10px; vertical-align:middle;}
.et_11 {font-family: 'Exo 2', sans-serif;font-size: 11px; vertical-align:middle;}
.et_12 {font-family: 'Exo 2', sans-serif;font-size: 12px; vertical-align:middle;}
.et_13 {font-family: 'Exo 2', sans-serif;font-size: 13px; vertical-align:middle;}
.et_14 {font-family: 'Exo 2', sans-serif;font-size: 14px; vertical-align:middle;}
.et_15 {font-family: 'Exo 2', sans-serif;font-size: 15px; vertical-align:middle;}
.et_16 {font-family: 'Exo 2', sans-serif;font-size: 16px; vertical-align:middle;}
.et_17 {font-family: 'Exo 2', sans-serif;font-size: 17px; vertical-align:middle;}
.et_18 {font-family: 'Exo 2', sans-serif;font-size: 18px; vertical-align:middle;}
.et_19 {font-family: 'Exo 2', sans-serif;font-size: 19px; vertical-align:middle;}
.et_20 {font-family: 'Exo 2', sans-serif;font-size: 20px; vertical-align:middle;}
.et_21 {font-family: 'Exo 2', sans-serif;font-size: 21px; vertical-align:middle;}
.et_22 {font-family: 'Exo 2', sans-serif;font-size: 22px; vertical-align:middle;}
.et_23 {font-family: 'Exo 2', sans-serif;font-size: 23px; vertical-align:middle;}
.et_24 {font-family: 'Exo 2', sans-serif;font-size: 24px; vertical-align:middle;}
.et_25 {font-family: 'Exo 2', sans-serif;font-size: 25px; vertical-align:middle;}
.et_26 {font-family: 'Exo 2', sans-serif;font-size: 26px; vertical-align:middle;}
.et_27 {font-family: 'Exo 2', sans-serif;font-size: 27px; vertical-align:middle;}
.et_28 {font-family: 'Exo 2', sans-serif;font-size: 28px; vertical-align:middle;}
.et_29 {font-family: 'Exo 2', sans-serif;font-size: 29px; vertical-align:middle;}
.et_30 {font-family: 'Exo 2', sans-serif;font-size: 30px; vertical-align:middle;}
.et_31 {font-family: 'Exo 2', sans-serif;font-size: 31px; vertical-align:middle;}
.et_32 {font-family: 'Exo 2', sans-serif;font-size: 32px; vertical-align:middle;}
.et_33 {font-family: 'Exo 2', sans-serif;font-size: 33px; vertical-align:middle;}
.et_34 {font-family: 'Exo 2', sans-serif;font-size: 34px; vertical-align:middle;}
.et_35 {font-family: 'Exo 2', sans-serif;font-size: 35px; vertical-align:middle;}
.et_40 {font-family: 'Exo 2', sans-serif;font-size: 40px; vertical-align:middle;}
.et_55 {font-family: 'Exo 2', sans-serif;font-size: 55px; vertical-align:middle;}


.et_ro13 {font-family: 'Roboto', sans-serif;font-size: 13px; vertical-align:middle;}
.et_ro14 {font-family: 'Roboto', sans-serif;font-size: 14px; vertical-align:middle;}
.et_ro15 {font-family: 'Roboto', sans-serif;font-size: 15px; vertical-align:middle;}
.et_ro30 {font-family: 'Roboto', sans-serif;font-size: 30px; vertical-align:middle;}
.et_ro35 {font-family: 'Roboto', sans-serif;font-size: 35px; vertical-align:middle;}
.et_ro40 {font-family: 'Roboto', sans-serif;font-size: 40px; vertical-align:middle;}

.et_sa13 {font-family: 'Open Sans', sans-serif;font-size: 13px; vertical-align:middle;}
.et_sa14 {font-family: 'Open Sans', sans-serif;font-size: 14px; vertical-align:middle;}
.et_sa15 {font-family: 'Open Sans', sans-serif;font-size: 15px; vertical-align:middle;}

.et_so13 {font-family: 'Source Sans Pro', sans-serif;font-size: 13px; vertical-align:middle;}
.et_so14 {font-family: 'Source Sans Pro', sans-serif;font-size: 14px; vertical-align:middle;}
.et_so15 {font-family: 'Source Sans Pro', sans-serif;font-size: 15px; vertical-align:middle;}

.et_lora12 {font-family: 'Lora', serif;font-size: 12px; vertical-align:middle;}
.et_lora14 {font-family: 'Lora', serif;font-size: 14px; vertical-align:middle;}



/*폰트 컬러 관련 */
.ct_b {color: #000000;} 
.ct_w {color: #ffffff;}
.ct_r {color: #b00814;}
.ct_r1 {color: #e74848;}
.ct_r2 {color: #990000;}
.ct_r3 {color: #d7213a;}
.ct_r4 {color: #ff0000;}
.ct_3 {color: #333333;} 
.ct_31 {color: #313131;}
.ct_6 {color: #666666;}
.ct_8 {color: #888888;}
.ct_9 {color: #999999;}
.ct_d6 {color: #d6d6d6;}
.ct_m {color: #ff285b;}
.ct_p {color: #ff8da0;}
.ct_p1 {color: #f02567;}
.ct_p2 {color: #FF0066;}
.ct_p3 {color: #f92b82;}
.ct_p4 {color: #a85c7a;}
.ct_br {color: #bb6767;}
.ct_g {color: #707070;}
.ct_g2 {color: #bababa;}
.ct_g3 {color: #2d2d2d;}
.ct_g4 {color: #b5b5b5;}
.ct_g5 {color: #555555;}
.ct_g6 {color: #a3a3a3;}
.ct_g7 {color: #9e9e9e;}
.ct_g8 {color: #6e6e6c;}
.ct_g9 {color: #6d6d6d;}
.ct_g10 {color: #787878;}
.ct_g11 {color: #585858;}
.ct_g12 {color: #414046;}
.ct_g13 {color: #dadada;}
.ct_g14 {color: #b2b2b2;}
.ct_g15 {color: #818181;}
.ct_y {color: #fff046;}
.ct_t00 {color: #f5f2ed;}
.ct_t01 {color: #2b2b2b;}
.ct_t02 {color: #353535;}
.ct_t03 {color: #434343;}
.ct_t04 {color: #1d1d1d;}
.ct_t05 {color: #b9b37b;}






/*폰트 두께 관련 */
.bt_b {font-weight: bold;}
.bt_10 {font-weight:100;}
.bt_20 {font-weight:200;}
.bt_30 {font-weight:300;}
.bt_40 {font-weight:400;}
.bt_50 {font-weight:500;}
.bt_60 {font-weight:600;}
.bt_70 {font-weight:700;}
.bt_80 {font-weight:800;}
.bt_90 {font-weight:900;}

/*폰트 기타 */
.tp_5 {padding-left:5px;}
.ts_1 {letter-spacing:1px;}
.ts_2 {letter-spacing:1em;}
.tl_12 {line-height:12px;}
.tl_13 {line-height:13px;}
.tl_14 {line-height:14px;}
.tl_15 {line-height:15px;}
.tl_16 {line-height:16px;}
.tl_18 {line-height:18px;}
.tl_20 {line-height:20px;}



/* 버튼 */
.date_bt {width:160px; height:30px; line-height:30px; background:#FFFFFF; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt3 {width:160px; height:30px; line-height:30px; background:#efefef; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt5 {width:160px; height:30px; line-height:30px; background:#333333; border:solid 1px #333333; text-align:center;cursor:pointer;cursor:hand;}

.date_bt4 {width:100px; height:30px; line-height:30px; background:#FFFFFF; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt2 {width:100px; height:30px; line-height:30px; background:#efefef; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt6 {width:100px; height:30px; line-height:30px; background:#333333; border:solid 1px #333333; text-align:center;cursor:pointer;cursor:hand;}

.date_bt7 {width:160px; height:50px; line-height:30px; background:#FFFFFF; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt8 {width:160px; height:50px; line-height:30px; background:#333333; border:solid 1px #333333; text-align:center;cursor:pointer;cursor:hand;}
.date_bt9 {width:160px; height:50px; line-height:30px; background:#efefef; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}

.date_bt10 {width:160px; height:40px; line-height:40px; background:#FFFFFF; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt11 {width:160px; height:40px; line-height:40px; background:#efefef; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt12 {width:160px; height:40px; line-height:40px; background:#333333; border:solid 1px #333333; text-align:center;cursor:pointer;cursor:hand;}

.date_bt13 {width:200px; height:40px; line-height:40px; background:#FFFFFF; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt14 {width:200px; height:40px; line-height:40px; background:#efefef; border:solid 1px #999999; text-align:center;cursor:pointer;cursor:hand;}
.date_bt15 {width:200px; height:40px; line-height:40px; background:#333333; border:solid 1px #333333; text-align:center;cursor:pointer;cursor:hand;}

/* --------------------------------------------- 텍스트 --------------------------------------------------------------- */



/* --------------------------------------------- 버튼 --------------------------------------------------------------- */


.redbutton {-webkit-border-radius: 3px;border: 1px solid #cb7d95;background: #B50938 url(/images_2015/bg/grad-red.20141217162221.jpg) repeat-x left center;font-family: Verdana,Arial,sans;cursor: pointer;color: #fff;}
.z_button_01{width:95%;text-decoration:none;text-align:center;display:block;padding:10px 0;background-color: #D3D4D4; background: -webkit-gradient(linear, left top, left bottom, from(#F7F8F8), color-stop(49%, #EEEEEE), color-stop(51%, #DBDBDB), to(#CECFCF));background: -moz-linear-gradient(#F7F8F8, #EEEEEE, #DBDBDB, #CECFCF);border:solid 1px #626262;border-radius: 10px;}
.z_button_02{width:100%;text-decoration:none;text-align:center;display:block;padding:13px 0;background-color: #222222; border:solid 1px #222222;border-radius: 0px;}
.z_button_03{width:100%;text-decoration:none;text-align:center;display:block;padding:13px 0;background-color: #FFFFFF; border:solid 1px #cccccc;border-radius: 0px;}
.z_button_05{width:100%;text-decoration:none;text-align:center;display:block;padding:15px 0;background-color: #ffffff; border:solid 1px #b7b7b7;}
.z_button_06{width:100%;text-decoration:none;text-align:center;display:block;padding:10px 0;background-color: #ffffff; border:solid 1px #626262;border-radius: 40px;}
.z_button_07{width:100%;text-decoration:none;text-align:center;display:block;padding:7px 0;background-color: #000000; border:solid 1px #000000;border-radius: 0px;}
.z_button_08{width:100%;text-decoration:none;text-align:center;display:block;padding:6px 0;background-color: #ededed; border-radius: 10px;}
.button-wm16{width:100%;text-decoration:none;text-align:center;display:block;padding:6px 0;background-color: #ffffff; border:solid 1px #999999;border-radius: 0px;}
.button-wm161{width:100%;text-decoration:none;text-align:center;display:block;padding:10px 0;background-color: #ffffff; border:solid 1px #999999;border-radius: 0px;}
.button-wm162{width:100%;text-decoration:none;text-align:center;vertical-align:middle;display:block;padding:6px 0px 6px 0px;background-color: #efefef; border:solid 1px #999999;border-radius: 0px;}
.button-wm22{width:100%;text-decoration:none;text-align:center;display:block;padding:10px 0;background-color: #e66f93; border-radius: 10px;}

/* --------------------------------------------- 버튼 --------------------------------------------------------------- */




/* --------------------------------------------- 우편번호 검색 버튼 지우지 말것 --------------------------------------------------------------- */

.zipcode_up
{
	width:100%;
	height:36px;
	text-decoration:none;
	text-align:center;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	display:block;
	background-color: #333333; 
/*	background: -webkit-gradient(linear, left top, left bottom, from(#333333),  to(#333333));*/
/*	background: -moz-linear-gradient(#F7F8F8, #EEEEEE, #DBDBDB, #CECFCF);*/
	border:solid 1px #333333;
	border-radius: 0px;
}

.zipcode_down
{
	width:100%;
	height:36px;
	text-align:center;
	font-size: 12px;
	color: #222222;
	display:block;
	background-color: #ffffff; 
/*	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),  to(#ffffff));*/
/*	background: -moz-linear-gradient(#F7F8F8, #EEEEEE, #DBDBDB, #CECFCF);*/
	border:solid 1px #b7b7b7;
	border-radius: 0px;
}

/* --------------------------------------------- 우편번호 검색 버튼 지우지 말것 --------------------------------------------------------------- */




