@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100,200,600,500);


/* 기본 */
.hands {
	cursor:hand;
}
html, body{margin:0px;padding:0px;width:100%;height:100%;}
hr{display:none; margin:0px;}
video {width:100%;max-width:100%;height:auto;}
div,table,td,p,form {color:#000000;font-size:12px;}
table img { vertical-align: middle; }
img, input {border:0; vertical-align:middle}
a:link  { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #000000; text-decoration: none}

.strike {text-decoration: line-through;}
.alertmessage {color: #f92b82;}
.inputtext {color:#616161;font-size:12px;border: 1px solid #d9d9d9;vertical-align:middle;}
	
/* 기본 */

#pageTop {
	 bottom:10px;
     right:25px;
     position:fixed;
     _position:absolute;
}


/* 중간 배너 시작 */
.midRollingBannerWrapper {
	position:relative;
	width:169px;
	height:65px;
/*	border: 2px dotted red;*/
}

.midRollingBannerWrapper ul {
	margin: 0;
	padding: 0;
}

.midRollingBannerWrapper ul li {
	list-style: none;
}

.displayOn {
	display: block;
}

.displayOff {
	display: none;
}

.midRollingBannerWrapper .arrow {
	position: absolute;
	top: 10px;
	display: block;
	width: 13px;
	height: 13px;
	cursor: pointer;
}

.midRollingBannerWrapper .prev {
	left: 129px;
	background: url(//cdn.dscount.com/images_2016/top/tb_l.jpg);
}

.midRollingBannerWrapper .next {
	left: 143px;
	background: url("//cdn.dscount.com/images_2016/top/tb_r.jpg");
}

.midBanner img {
	width: 169px;
	height: 65px;
	border: 0;
}

.tI {
	text-indent: -9999px;
}
/* 중간 배너 종료 */

/* 최근 본 상품 시작 */
.recently_view_wrap ul {
	margin: 0;
	padding: 0;
/*	border: 2px dotted red;*/
}

.recently_view_wrap ul li {
	list-style: none;
	padding: 2px;
}

.recently_view_wrap .recently_view {
	list-style: none;
	padding: 2px;
}

.recently_view img {
	width: 66px;
	border: 0;
	cursor: pointer;
}
/* 최근 본 상품 종료 */

/* 우측 플로팅 메뉴 시작 */
.r_fl_menu { /*menu.3.css*/
    position: absolute;
	top: 153px;
	right: auto;
	left: 50%;
	margin-left: 607px;
	z-index: 9999999999 !important;
/*	border: 2px dotted red;*/

}

.fl_fixed {
	position: fixed;
	top: 0px !important;
}

.r_fl_menu .history_wrap .history_header h3 strong {
    font-size: 18px;
    font-family: '나눔명조',NanumMyeongjo;
    color: #e74848;
    line-height: 21px;
    vertical-align: middle;
}
/* 우측 플로팅 메뉴 종료 */

/* LNB 시작 */
.lt0{letter-spacing:0 !important;}

li {
    list-style: none;
}

.lnb_area * {
	margin:0;
	padding:0;
	border:none;
}

.lnb_area{width:170px;height:480px; padding-top:15px; border-top: solid 2px #000000;background:url('//cdn.dscount.com/images_2016/top/ds_back.png') repeat;position:absolute;top:0px;left:-1px;display:none; text-align:left;}
.main .lnb_area{z-index:99999;display:block;}/* 메인만 block */
.lnb_area > ul > li{}
.lnb_area > ul > li > a{display:block;height:33px;line-height:32px;margin-bottom:6px;text-decoration:none;font-family:'Nanum Gothic', sans-serif;font-size:15px;font-weight:500;color:#222;padding-left:30px;overflow:hidden; vertical-align:middle;}

.lnb_area.lnb_on{background:#eaeaea;z-index:1;width:170px;height:479px;border-bottom:1px solid #535353;border-left:1px solid #535353;z-index:200;}
.lnb_area.lnb_on > ul > li{}
.lnb_area.lnb_on > ul > li > a{color:#666;padding-left:29px;}
.lnb_area.lnb_on > ul > li.active > a{color:#222;font-weight:600;background:#fff;}

.lnb_area .lnb_sub_layer{display:none;width:1014px;height:494px;background:#fff;position:absolute;top:0;left:169px;border-right:1px solid #535353;border-bottom:1px solid #535353;}
.lnb_area.lnb_on > ul > li.active .lnb_sub_layer{display:block;}
.lnb_sub_layer:after{content:'';display:block;clear:both;}
.lnb_sub_layer .lnb_sub_menu{float:left;width:477px;height:459px;padding:35px 0 0 30px;border-right:1px solid #eaeaea;position:relative; text-align:left;}
.lnb_sub_layer .lnb_sub_menu .lnb_tit{font-family:'Nanum Gothic', sans-serif;font-size:20px;font-weight:700;color:#222;line-height:20px;margin-bottom:25px; vertical-align:middle;}
.lnb_sub_layer .lnb_sub_menu .lnb_tit a{color:#222;}
.lnb_sub_menu .lnb_2debth .lnb_2debth_tit{display:block;width:170px;height:26px; line-height:26px;padding:0 0 0 13px;text-decoration:none;font-family:'Nanum Gothic', sans-serif;font-size:14px;color:#222; vertical-align:middle;background-position:188px -148px;}
.lnb_sub_menu .lnb_2debth .active .lnb_2debth_tit{background-color:#535353;background-position:188px -500px;color:#fff;}
.lnb_sub_menu .lnb_2debth > li{}
.lnb_sub_menu .lnb_2debth .lnb_3debth{display:none;position:absolute;top:80px;left:228px;width:px;height:334px;border-left:1px solid #eaeaea;z-index:1;}
.lnb_sub_menu .lnb_2debth .active .lnb_3debth{display:block;}
.lnb_sub_menu .lnb_2debth .lnb_3debth .lnb_3debth_tit{padding-left:24px;font-family:'Nanum Gothic', sans-serif;font-size:15px;color:#222;font-weight:600;margin-bottom:10px;}
.lnb_sub_menu .lnb_2debth .lnb_3debth ul{width:264px;overflow:hidden;margin-bottom:30px;}
.lnb_sub_menu .lnb_2debth .lnb_3debth ul:after{content:'';display:block;clear:both;}
.lnb_sub_menu .lnb_2debth .lnb_3debth li{float:left;width:95px;padding-left:24px;margin-bottom:6px;height:17px;line-height:17px;overflow:hidden;}
.lnb_sub_menu .lnb_2debth .lnb_3debth li a{font-family:'Nanum Gothic', sans-serif;font-size:13px;color:#999;}
.lnb_sub_menu .lnb_2debth .lnb_3debth li a:hover{text-decoration:underline;color:#222;}

.lnb_sub_layer .lnb_rban{float:left;width:405px;height:416px;line-height:0}
.lnb_sub_layer .lnb_sub_close{background-position:-39px -125px;width:24px;height:24px;position:absolute;top:20px;right:17px;}
.lnb_sub_layer .lnb_rban a {display:block}
.lnb_sub_layer .lnb_rban a img {max-width:405px;overflow:hidden}
/* LNB 종료 */

/* 전체카테고리 시작 */
.all_category {
	cursor:pointer; 
	cursor:hand;
}


.all_category .tit_click.on {
    background-image: url(//cdn.dscount.com/images_2016/top/arrow_up.png);
}

.all_category .tit_click {
	position: absolute;
	top : 18px;
	left:132px;
	width:12px;
	height:6px;
    background:  url(//cdn.dscount.com/images_2016/top/arrow_down.png) no-repeat;
	float:left;
}

/* 전체카테고리 종료 */

/* 메인 배너 시작 */
.main_ban_area  {position:relative;width:100%;height:495px;overflow:hidden;}
.main_ban_area .ban_group {position:relative;width:100%;height:495px;display:none;}
.main_ban_area .ban_group .ban_sub.type_double {height:495px}
.main_ban_area .ban_group .ban_sub.type_double a{float:left;width:262px}
.main_ban_area .ban_group .ban_sub.type_double a:first-child {width:650px}
.main_ban_area .imgbox{position:absolute;top:0;left:0;width:100%;height:495px;padding-left:85px;display:none;}

.main_ban_area .main_ban_box .button {display:none;cursor:pointer}

.main_ban_area .main_ban_box .imgbox  {position:absolute;width:100%;text-align:center;display:none;font-size:0;line-height:0;z-index:9999;}
.main_ban_area .main_ban_box .imgbox > a > img{width:1015px;height:460px;}
.main_ban_area .main_ban_box .type_double a {float:left}
.main_ban_area .main_ban_box .type_double img{width:403px}
.main_ban_area .main_ban_box .type_double img:first-child {width:650px}
.main_ban_area .main_ban_page{position:absolute;bottom:0;left:50%;margin-left:-423px;width:1015px;height:35px;z-index:100;}
.main_ban_area .main_ban_page .item {float:left;position:relative;width:203px;height:35px;line-height:36px; vertical-align:middle;font-family:'Nanum Gothic', sans-serif;font-size:12px;color:#ffffff;background:url('//cdn.dscount.com/images_2016/top/mbg_down.png') repeat;text-align:center;cursor:pointer;border-left:1px solid #ffffff} 
.main_ban_area .main_ban_page .item:first-child{width:204px;border-left:0px;}
.main_ban_area .main_ban_page .item.active{background:#434343;color:#fff;}
.main_ban_area .main_ban_page .item.ov{background:url('//cdn.dscount.com/images_2016/top/mbg_up.png') repeat;font-weight:bold;color:#ffffff !important;}
.main_ban_area .main_ban_page .item .subitem {position:absolute;top:0;left:0;width:auto;min-width:130px;height:auto;background:url('//cdn.dscount.com/images_2016/top/bg_main_page.png') repeat;display:none;} 
.main_ban_area .main_ban_page .item .subitem li {text-align:center;font-size:12px;letter-spacing:0;width:130px;}
.main_ban_area .main_ban_page .item .subitem li a{display:block;height:36px;line-height:36px;color:#fff;}
.main_ban_area .main_ban_page .item .subitem li.active a{color:#fff;background-color:#434343;text-decoration:none;}
.main_visual_area{width:100%;height:495px;background:url('//cdn.dscount.com/images_2016/top/bg_main_visual.gif') repeat-x 0 bottom;margin-bottom:1px;}
/* 메인 배너 종료 */

/* 포토후기 썸네일 */
.postscript_thumb {max-width: 100%;}

/* 카테고리 베스트 큰 썸네일 텍스트 영역 컨트롤 */
.bigbest_wrap { height:auto; cursor:pointer; cursor:hand;}
.bigbest_wrap .image{overflow:hidden;}
.bigetc{position: absolute; bottom: 0px; left: 0px; width: 100%; height: auto; text-align:center; background:url(/images_2015/main/opacity.png) repeat;}
.bigetcwrap{padding-top:0%; margin-top:0px; overflow:hidden;  height: 100%;}
.bigetc span.dsctxt{display:block;color:#fff; font-size:14px; line-height:15px; padding: 15px 5px 5px 5px;}
.bigetc span.dsc{display:block;color:#fff; font-size:14px; line-height:15px; padding: 0px 5px 3px 5px;}
.bigetc span.price{display:block;color:#fff; font-size:14px;line-height:15px; padding: 0px 5px 15px 5px; font-weight:bold;}
/* 카테고리 베스트 큰 썸네일 텍스트 영역 컨트롤 */


/* 카테고리 베스트 중간 썸네일 텍스트 영역 컨트롤 */
.best_wrap { height:auto; cursor:pointer; cursor:hand;}
.best_wrap .image{overflow:hidden;}
.etc{position: absolute; bottom: 0px; left: 0px; width: 100%; height: auto; text-align:center; background:url(/images_2015/main/opacity.png) repeat;}
.etcwrap{padding-top:0%; margin-top:0px; overflow:hidden;  height: 100%;}
.etc span.dsctxt{display:block;color:#fff; font-size:12px; line-height:15px; padding: 10px 5px 5px 5px;}
.etc span.dsc{display:block;color:#fff; font-size:12px; line-height:15px; padding: 0px 5px 3px 5px;}
.etc span.price{display:block;color:#fff; font-size:12px;line-height:15px; padding: 0px 5px 10px 5px; font-weight:bold;}
/* 카테고리 베스트 중간 썸네일 텍스트 영역 컨트롤 */

/* BASIC css end */

.goodPic .heart { position:absolute;right:5px;top:11px; display:none; }
.goodPic .question { position:absolute;right:0px;top:35px; display:none; }
.heart:hover {cursor:pointer}
.heart:hover .question {display:block}
.goodPic:hover .heart {display:block}

/*탑메뉴 시작 */
.menu01_m01 {margin-left:57px;}
.menu01_m02 {margin-left:47px;}


.menu01 { display:inline; text-align:left; vertical-align:middle;}  
.menu01 a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:169px !important; padding-top:12px; padding-bottom:13px; background:url(//cdn.dscount.com/images_2016/top/all_w.jpg) no-repeat; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:left; text-decoration:none; width /**/:169px;/*IE 5.5*/ }  
.menu01 a:hover/*, .menu02 a:focus */ { color:#fff; background:url(//cdn.dscount.com/images_2016/top/all_b.jpg) no-repeat;}

.menu01_u { display:inline; text-align:left; vertical-align:middle;}  
.menu01_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:169px !important; padding-top:12px; padding-bottom:13px; background:url(//cdn.dscount.com/images_2016/top/all_b2.jpg) no-repeat; color:#ffffff; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:left; text-decoration:none; width /**/:169px;/*IE 5.5*/ }  
.menu01_u a:hover/*, .menu02 a:focus */ { color:#fff; background:url(//cdn.dscount.com/images_2016/top/all_b2.jpg) no-repeat;}  

.menu02 { display:inline; text-align:center; vertical-align:middle; }  
.menu02 a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:169px !important; padding-top:12px; padding-bottom:13px; background:#ffffff; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:169px;/*IE 5.5*/ }  
.menu02 a:hover{ color:#ffffff; background-color:#df4171; }

.menu02_u { display:inline; text-align:center; vertical-align:middle; }  
.menu02_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:169px !important; padding-top:12px; padding-bottom:13px; background:#df4171; color:#ffffff; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:169px;/*IE 5.5*/ }  
.menu02_u a:hover{ color:#ffffff; background-color:#df4171; } 

.menu03 { display:inline; text-align:center; vertical-align:middle; }  
.menu03 a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#ffffff; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu03 a:hover{ color:#ffffff; background-color:#fea700; }

.menu03_u { display:inline; text-align:center; vertical-align:middle; }  
.menu03_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#fea700; color:#ffffff; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu03_u a:hover{ color:#ffffff; background-color:#fea700; }

.menu04 { display:inline; text-align:center; vertical-align:middle; }  
.menu04 a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#ffffff; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu04 a:hover{ color:#ffffff; background-color:#6b5773; }

.menu04_u { display:inline; text-align:center; vertical-align:middle; }  
.menu04_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#6b5773; color:#ffffff; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu04_u a:hover{ color:#ffffff; background-color:#6b5773; }

.menu05 { display:inline; text-align:center; vertical-align:middle; }  
.menu05 a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#ffffff; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu05 a:hover{ color:#ffffff; background-color:#2f2c38; }

.menu05_u { display:inline; text-align:center; vertical-align:middle; }  
.menu05_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#3c3a44; color:#ffffff; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu05_u a:hover{ color:#ffffff; background-color:#2f2c38; }

.menu06 { display:inline; text-align:center; vertical-align:middle; }  
.menu06 a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#ffffff; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu06 a:hover{ color:#000000; background:url(//cdn.dscount.com/images_2016/top/milcott_bg.jpg)}

.menu06_u { display:inline; text-align:center; vertical-align:middle; }  
.menu06_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:url(//cdn.dscount.com/images_2016/top/milcott_bg.jpg) no-repeat; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu06_u a:hover{ color:#000000; background:url(//cdn.dscount.com/images_2016/top/milcott_bg.jpg)}

.menu07 { display:inline; text-align:center; vertical-align:middle; }  
.menu07 a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#ffffff; color:#000000; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu07 a:hover{ color:#ffffff; background-color:#000000; }

.menu07_u { display:inline; text-align:center; vertical-align:middle; }  
.menu07_u a { display:-moz-inline-stack; display:inline-block; vertical-align:middle; width:168px !important; padding-top:12px; padding-bottom:13px; background:#000000; color:#ffffff; font-family: 'Nanum Gothic', sans-serif;font-size: 14px; line-height:14px; font-weight:700; text-align:center; text-decoration:none; width /**/:168px;/*IE 5.5*/ }  
.menu07_u a:hover{ color:#ffffff; background-color:#000000; }
/*탑메뉴 종료 */

.top_arr {width:5px; height:3px;background:url(//cdn.dscount.com/images_2016/top/top_arr.png) no-repeat;}


/*폰트 관련 한글 */
.ht_4 {font-family: 'Nanum Gothic', sans-serif;font-size: 4px; vertical-align:middle;}
.ht_5 {font-family: 'Nanum Gothic', sans-serif;font-size: 5px; vertical-align:middle;}
.ht_6 {font-family: 'Nanum Gothic', sans-serif;font-size: 6px; vertical-align:middle;}
.ht_7 {font-family: 'Nanum Gothic', sans-serif;font-size: 7px; vertical-align:middle;}
.ht_8 {font-family: 'Nanum Gothic', sans-serif;font-size: 8px; vertical-align:middle;}
.ht_9 {font-family: 'Nanum Gothic', sans-serif;font-size: 9px; vertical-align:middle;}
.ht_10 {font-family: 'Nanum Gothic', sans-serif;font-size: 10px; vertical-align:middle;}
.ht_11 {font-family: 'Nanum Gothic', sans-serif;font-size: 11px; vertical-align:middle;}
.ht_12 {font-family: 'Nanum Gothic', sans-serif;font-size: 12px; vertical-align:middle;}
.ht_13 {font-family: 'Nanum Gothic', sans-serif;font-size: 13px; vertical-align:middle;}
.ht_14 {font-family: 'Nanum Gothic', sans-serif;font-size: 14px; vertical-align:middle;}
.ht_15 {font-family: 'Nanum Gothic', sans-serif;font-size: 15px; vertical-align:middle;}
.ht_16 {font-family: 'Nanum Gothic', sans-serif;font-size: 16px; vertical-align:middle;}
.ht_17 {font-family: 'Nanum Gothic', sans-serif;font-size: 17px; vertical-align:middle;}
.ht_18 {font-family: 'Nanum Gothic', sans-serif;font-size: 18px; vertical-align:middle;}
.ht_19 {font-family: 'Nanum Gothic', sans-serif;font-size: 19px; vertical-align:middle;}
.ht_20 {font-family: 'Nanum Gothic', sans-serif;font-size: 20px; vertical-align:middle;}
.ht_21 {font-family: 'Nanum Gothic', sans-serif;font-size: 21px; vertical-align:middle;}
.ht_22 {font-family: 'Nanum Gothic', sans-serif;font-size: 22px; vertical-align:middle;}
.ht_23 {font-family: 'Nanum Gothic', sans-serif;font-size: 23px; vertical-align:middle;}
.ht_24 {font-family: 'Nanum Gothic', sans-serif;font-size: 24px; vertical-align:middle;}
.ht_25 {font-family: 'Nanum Gothic', sans-serif;font-size: 25px; vertical-align:middle;}
.ht_26 {font-family: 'Nanum Gothic', sans-serif;font-size: 26px; vertical-align:middle;}
.ht_27 {font-family: 'Nanum Gothic', sans-serif;font-size: 27px; vertical-align:middle;}
.ht_28 {font-family: 'Nanum Gothic', sans-serif;font-size: 28px; vertical-align:middle;}
.ht_29 {font-family: 'Nanum Gothic', sans-serif;font-size: 29px; vertical-align:middle;}
.ht_30 {font-family: 'Nanum Gothic', sans-serif;font-size: 30px; vertical-align:middle;}
.ht_31 {font-family: 'Nanum Gothic', sans-serif;font-size: 31px; vertical-align:middle;}
.ht_32 {font-family: 'Nanum Gothic', sans-serif;font-size: 32px; vertical-align:middle;}
.ht_33 {font-family: 'Nanum Gothic', sans-serif;font-size: 33px; vertical-align:middle;}
.ht_34 {font-family: 'Nanum Gothic', sans-serif;font-size: 34px; vertical-align:middle;}
.ht_35 {font-family: 'Nanum Gothic', sans-serif;font-size: 35px; vertical-align:middle;}




/*폰트 관련 영문 */
.et_6 {font-family: 'Exo 2', sans-serif;font-size: 6px; vertical-align:middle;}
.et_7 {font-family: 'Exo 2', sans-serif;font-size: 7px; vertical-align:middle;}
.et_8 {font-family: 'Exo 2', sans-serif;font-size: 8px; vertical-align:middle;}
.et_9 {font-family: 'Exo 2', sans-serif;font-size: 9px; vertical-align:middle;}
.et_10 {font-family: 'Exo 2', sans-serif;font-size: 10px; vertical-align:middle;}
.et_11 {font-family: 'Exo 2', sans-serif;font-size: 11px; vertical-align:middle;}
.et_12 {font-family: 'Exo 2', sans-serif;font-size: 12px; vertical-align:middle;}
.et_13 {font-family: 'Exo 2', sans-serif;font-size: 13px; vertical-align:middle;}
.et_14 {font-family: 'Exo 2', sans-serif;font-size: 14px; vertical-align:middle;}
.et_15 {font-family: 'Exo 2', sans-serif;font-size: 15px; vertical-align:middle;}
.et_16 {font-family: 'Exo 2', sans-serif;font-size: 16px; vertical-align:middle;}
.et_17 {font-family: 'Exo 2', sans-serif;font-size: 17px; vertical-align:middle;}
.et_18 {font-family: 'Exo 2', sans-serif;font-size: 18px; vertical-align:middle;}
.et_19 {font-family: 'Exo 2', sans-serif;font-size: 19px; vertical-align:middle;}
.et_20 {font-family: 'Exo 2', sans-serif;font-size: 20px; vertical-align:middle;}
.et_21 {font-family: 'Exo 2', sans-serif;font-size: 21px; vertical-align:middle;}
.et_22 {font-family: 'Exo 2', sans-serif;font-size: 22px; vertical-align:middle;}
.et_23 {font-family: 'Exo 2', sans-serif;font-size: 23px; vertical-align:middle;}
.et_24 {font-family: 'Exo 2', sans-serif;font-size: 24px; vertical-align:middle;}
.et_25 {font-family: 'Exo 2', sans-serif;font-size: 25px; vertical-align:middle;}
.et_26 {font-family: 'Exo 2', sans-serif;font-size: 26px; vertical-align:middle;}
.et_27 {font-family: 'Exo 2', sans-serif;font-size: 27px; vertical-align:middle;}
.et_28 {font-family: 'Exo 2', sans-serif;font-size: 28px; vertical-align:middle;}
.et_29 {font-family: 'Exo 2', sans-serif;font-size: 29px; vertical-align:middle;}
.et_30 {font-family: 'Exo 2', sans-serif;font-size: 30px; vertical-align:middle;}
.et_31 {font-family: 'Exo 2', sans-serif;font-size: 31px; vertical-align:middle;}
.et_32 {font-family: 'Exo 2', sans-serif;font-size: 32px; vertical-align:middle;}
.et_33 {font-family: 'Exo 2', sans-serif;font-size: 33px; vertical-align:middle;}
.et_34 {font-family: 'Exo 2', sans-serif;font-size: 34px; vertical-align:middle;}
.et_35 {font-family: 'Exo 2', sans-serif;font-size: 35px; vertical-align:middle;}




/*폰트 컬러 관련 */
.ct_b {color: #000000;}
.ct_w {color: #ffffff;}
.ct_r {color: #b00814;}
.ct_r1 {color: #e74848;}
.ct_r2 {color: #990000;}
.ct_r3 {color: #d7213a;}
.ct_r4 {color: #ff0000;}
.ct_3 {color: #333333;}
.ct_31 {color: #313131;}
.ct_6 {color: #666666;}
.ct_8 {color: #888888;}
.ct_9 {color: #999999;}
.ct_d6 {color: #d6d6d6;}
.ct_m {color: #ff285b;}
.ct_p {color: #ff8da0;}
.ct_p1 {color: #f02567;}
.ct_p2 {color: #FF0066;}
.ct_p3 {color: #f92b82;}
.ct_br {color: #bb6767;}
.ct_g {color: #707070;}
.ct_g2 {color: #bababa;}
.ct_g3 {color: #2d2d2d;}
.ct_g4 {color: #b5b5b5;}
.ct_g5 {color: #555555;}
.ct_g6 {color: #a3a3a3;}
.ct_g7 {color: #9e9e9e;}
.ct_g8 {color: #6e6e6c;}
.ct_g9 {color: #6d6d6d;}
.ct_g10 {color: #787878;}
.ct_y {color: #fff046;}




/*폰트 두께 관련 */
.bt_b {font-weight: bold;}
.bt_10 {font-weight:100;}
.bt_20 {font-weight:200;}
.bt_30 {font-weight:300;}
.bt_40 {font-weight:400;}
.bt_50 {font-weight:500;}
.bt_60 {font-weight:600;}
.bt_70 {font-weight:700;}
.bt_80 {font-weight:800;}
.bt_90 {font-weight:900;}

/*폰트 기타 */
.tp_5 {padding-left:5px;}
.ts_1 {letter-spacing:1px;}
.tl_18 {line-height:18px;}
.tl_20 {line-height:20px;}



/* 버튼 */

.redbutton {
-webkit-border-radius: 3px;
border: 1px solid #cb7d95;
background: #B50938 url(/images_2015/bg/grad-red.20141217162221.jpg) repeat-x left center;
font-family: Verdana,Arial,sans;
cursor: pointer;
color: #fff;
}



.z_button_01
{
	width:95%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:10px 0;
	background-color: #D3D4D4; 
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F8F8), color-stop(49%, #EEEEEE), color-stop(51%, #DBDBDB), to(#CECFCF));
	background: -moz-linear-gradient(#F7F8F8, #EEEEEE, #DBDBDB, #CECFCF);
	border:solid 1px #626262;
	border-radius: 10px;
}



.z_button_02
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:13px 0;
	background-color: #222222; 
	border:solid 1px #222222;
	border-radius: 0px;
}

.z_button_03
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:13px 0;
	background-color: #FFFFFF; 
	border:solid 1px #cccccc;
	border-radius: 0px;
}

.z_button_05
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:15px 0;
	background-color: #ffffff; 
	border:solid 1px #b7b7b7;

}



.z_button_06
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:10px 0;
	background-color: #ffffff; 
	border:solid 1px #626262;
	border-radius: 40px;
}



.z_button_07
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:7px 0;
	background-color: #000000; 
	border:solid 1px #000000;
	border-radius: 0px;
}



.z_button_08
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:6px 0;
	background-color: #ededed; 
	border-radius: 10px;
}



.button-wm16
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:6px 0;
	background-color: #ffffff; 
	border:solid 1px #999999;
	border-radius: 0px;
}

.button-wm161
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:10px 0;
	background-color: #ffffff; 
	border:solid 1px #999999;
	border-radius: 0px;
}

.button-wm162
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:6px 0;
	background-color: #efefef; 
	border:solid 1px #999999;
	border-radius: 0px;
}



.button-wm22
{
	width:100%;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:10px 0;
	background-color: #e66f93; 
	border-radius: 10px;
}






/* --------------------------------------------- 우편번호 검색 버튼 지우지 말것 --------------------------------------------------------------- */

.zipcode_up
{
	width:100%;
	height:36px;
	text-decoration:none;
	text-align:center;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	display:block;
	background-color: #333333; 
/*	background: -webkit-gradient(linear, left top, left bottom, from(#333333),  to(#333333));*/
/*	background: -moz-linear-gradient(#F7F8F8, #EEEEEE, #DBDBDB, #CECFCF);*/
	border:solid 1px #333333;
	border-radius: 0px;
}

.zipcode_down
{
	width:100%;
	height:36px;
	text-align:center;
	font-size: 12px;
	color: #222222;
	display:block;
	background-color: #ffffff; 
/*	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),  to(#ffffff));*/
/*	background: -moz-linear-gradient(#F7F8F8, #EEEEEE, #DBDBDB, #CECFCF);*/
	border:solid 1px #b7b7b7;
	border-radius: 0px;
}

/* --------------------------------------------- 우편번호 검색 버튼 지우지 말것 --------------------------------------------------------------- */


